---
import Section from '@components/utils/Section.astro';
---

<Section>
  <h2 class="my-5 text-center text-3xl">About</h2>
  <div class="grid grid-cols-1">
    <div class="space-y-4">
      <p class="first-letter:ml-10">
        I'm a MERN stack developer specializing in building dynamic and interactive web
        applications. With expertise in MongoDB, Express.js, React.js, and Node.js, I deliver clean
        and scalable code that adheres to industry standards. From e-commerce platforms to content
        management systems, I have a proven track record of successfully delivering diverse
        projects. Let's collaborate and bring your ideas to life. Explore my portfolio and contact
        me to get started.
      </p>
      <p>
        Creative and Client focus Web Developer. using Javascript, React, Node, and MongoDB to solve
        problems independently and collaboratively. Established professional with a proven record of
        managing people, processes and technology.
      </p>
    </div>
    <!-- <div class="flex items-center justify-center" aria-hidden="true">
      <div class="rounded-full border-8 border-slate-700 overflow-hidden">
        <img
          src="/Abdul-Samad-Ansari.png"
          alt="Abdul Samad Ansari"
          height={300}
          width={300}
          class="transition-transform grayscale hover:grayscale-0 hover:scale-105"
        />
      </div>
    </div> -->
  </div>
</Section>
