---
import Section from '@components/utils/Section.astro';
---

<Section>
  <h2 class="text-pink text-3xl mb-3">About</h2>
  <p>
    Creative and Client focus Web Developer. using Javascript, React, Node, and MongoDB to solve
    problems independently and collaboratively. Established professional with a proven record of
    managing people, processes and technology.
  </p>
</Section>
