---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Welcome to Astro.">
  <main class="p-6 w-full">
    <Hero />
  </main>
</Layout>

<style>
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }

  .instructions strong {
    color: rgb(var(--accent));
  }
</style>
