---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import Skills from '@components/Skills.astro';
import Projects from '@components/projects/index.astro';
import Testimonials from '@components/testimonials/index.astro';
import Contact from '@components/Contact.astro';
---

<Layout title="Abdul Samad Ansari - Developer">
  <main>
    <Hero />
    <Skills />
    <!-- <Projects /> -->
    <Testimonials />
    <Contact />
  </main>
</Layout>
