---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import Skills from '@components/Skills.astro';
import Projects from '@components/Projects.astro';
import Testimonials from '@components/Testimonials.astro';
import Contact from '@components/Contact.astro';
---

<Layout title="Abdul Samad Ansari - Web Developer">
  <main>
    <Hero />
    <Skills />
    <Projects />
    <Testimonials />
    <Contact />
  </main>
</Layout>
