---
import Layout from '@layouts/Layout.astro';
import H1 from '@components/utils/H1.astro';
import H3 from '@components/utils/H3.astro';
import Link from '@components/utils/Link.astro';
import { Content } from '@content/my-info.mdx';

import PostHogClient from '../posthog.js';

const cookie = Astro.cookies.get(`ph_${import.meta.env.PUBLIC_POSTHOG_KEY}_posthog`);
let distinctId = cookie?.json().distinct_id;

if (!distinctId) {
	distinctId = crypto.randomUUID();
}

const phClient = PostHogClient();

phClient.capture({
	event: 'server_side_event',
	distinctId,
});
---

<Layout title='Abdul Samad Ansari - Developer'>
	<main class='container mx-auto px-8 pt-16 text-left'>
		<p style='display:none' class='did'>{distinctId}</p>
		<Content
			components={{
				h1: H1,
				h3: H3,
				a: Link,
			}}
		/>
	</main>
</Layout>
