---
import { Icon } from 'astro-icon';

import Layout from '@layouts/Layout.astro';
import Section from '@components/utils/Section.astro';
---

<Layout title="Abdul Samad Ansari - Developer - Thank You">
  <Section class="min-h-[calc(100vh-76px)] w-full flex items-center justify-center">
    <div class="flex justify-center items-center gap-2">
      <Icon name="ic:baseline-check-circle" class="h-8 w-8 text-green-500" />
      <h1 class="text-xl">Thanks for submitting. I will get back to you as soon as possible.</h1>
    </div>
  </Section>
</Layout>
