---
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'div'> {
  title: string;
  body: string;
  href: string;
}

const { href, title, body, ...props } = Astro.props;
---

<div
  class="link-card flex flex-col p-1 bg-white bg-none shadow-md rounded-[0.6rem] [background-position:100%] [background-size:400%]"
  {...props}>
  <div
    class="no-underline flex-1 leading-6 p-5 rounded-md text-[#111] bg-white opacity-80">
    <h2 class="capitalize m-0 text-lg w-full text-primary font-semibold">
      {title}
      <span class="">&rarr;</span>
    </h2>
    <p class="mt-2 mb-0 text-[#444]">
      {body}
      <div class="flex justify-around mt-8 text-black">
        <a href={href} class="w-1/2 text-center">GitHub</a>
        <a href={href} class="w-1/2 text-center">Link</a>
      </div>
    </p>
  </div>
</div>
<style>
  .link-card {
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  h2 {
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .link-card:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accent-gradient);
  }

  .link-card:is(:hover, :focus-within) h2 {
    color: rgb(var(--accent));
  }
</style>
