---
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'div'> {
  title: string;
  body: string;
  href: string;
}

const { href, title, body, ...props } = Astro.props;
---

<div
  class="link-card flex p-1 bg-white bg-none shadow-md rounded-[0.6rem] [background-position:100%] [background-size:400%]"
  {...props}>
  <a
    href={href}
    class="w-full no-underline leading-6 py-4 px-5 rounded-md text-[#111] bg-white opacity-80">
    <h2 class="capitalize m-0 text-lg">
      {title}
      <span>&rarr;</span>
    </h2>
    <p class="mt-2 mb-0 text-[#444]">
      {body}
    </p>
  </a>
</div>
<style>
  .link-card {
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  h2 {
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .link-card:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accent-gradient);
  }

  .link-card:is(:hover, :focus-within) h2 {
    color: rgb(var(--accent));
  }
</style>
