---
import Section from '@components/utils/Section.astro';
---

<Section
  id="contact"
  class="h-[500px] w-full [background:linear-gradient(90deg,#03a9f0 10%,#03a9f0 10%,#2abdfc 100%)]">
  <form>
    <h1>Contacts</h1>
    <label for="">Name</label>
    <input type="text" />
  </form>
</Section>

<style>
  section {
    background: linear-gradient(
      135deg,
      #fff,
      #fff 55%,
      #2abdfc 55%,
      #2abdfc 100%
    );
  }
</style>
