---
import Button from '../components/Button.astro';
---

<section class="h-[600px] flex items-center justify-start">
  <div class="flex flex-col">
    <h1 class="text-4xl leading-10 text-gray-800">
      Hi, I'm Abdul Samad, <br /> Web Developer who loves <br />
      <span
        class="text-5xl text-gradient font-bold bg-clip-text text-transparent [background-image:var(--accent-gradient)] [background-position:0%] [background-size:400%]"
        >Crafting Awesome Web Experiences</span
      >
    </h1>
    <div class="flex gap-5 my-5">
      <Button variant="filled">View Projects</Button>
      <Button variant="outline">Get In Touch</Button>
    </div>
  </div>
</section>
