---
import Section from '@components/utils/Section.astro';
import Link from '@components/utils/Link.astro';
---

<Section class="min-h-[calc(100vh-72px)] flex items-center justify-start">
  <div class="flex flex-col min-h-[350px]">
    <h1 class="text-xl font-display lg:text-4xl leading-8 lg:leading-12">
      Hi, I'm Abdul Samad, <br /> Web Developer who loves <br />
      <div
        class="text-3xl my-2 lg:text-5xl bg-gradient font-bold bg-clip-text text-transparent lg:h-14 [background-size:400%] animate-text-gradient">
        Crafting Awesome Web Experiences
      </div>
    </h1>
    <div class="flex gap-5 mt-3">
      <Link variant="filled" href="#contact" className="whitespace-nowrap">Get In Touch</Link>
      <Link variant="outline" href="#projects" className="whitespace-nowrap">View Projects</Link>
    </div>
  </div>
  <button
    id="hero-mouse-button"
    class="h-12 w-7 p-2 rounded-full border-2 border-white absolute bottom-10 left-1/2 -translate-x-1/2 flex items-start justify-center">
    <div class="w-1 h-[10px] rounded-[25%] bg-white animate-mouse-scroller"></div>
    <div class="sr-only">Scroll below</div>
  </button>
</Section>

<script>
  /* Scroll */
  const button = document.querySelector('#hero-mouse-button') as HTMLButtonElement;
  const SCROLL_LENGTH = 500;

  // Scroll page up by 500px
  button.addEventListener('click', () => {
    window.scrollBy(0, SCROLL_LENGTH);
  });

  /* Document Title */
  const title = document.title;
  const messages = [
    'Please come back! ðŸ™',
    "Don't you love me anymore? ðŸ˜­",
    "I'm feeling lonely ðŸ˜­",
    '(1) â¤ï¸ Miss You!',
  ];

  window.addEventListener('blur', () => {
    const randomMessage = messages[Math.floor(Math.random() * messages.length)];
    document.title = randomMessage;
  });

  window.addEventListener('focus', () => {
    document.title = title;
  });
</script>
