---
import Section from '@components/utils/Section.astro';
import Card from '@components/Card.astro';
import type { Node } from '@utils/types';

const mode = import.meta.env.MODE;
const pinnedReposURL = mode === 'development' ? 'http://localhost:8888' : '';
const res = await fetch(`${pinnedReposURL}/api/pinnedRepos`);
const data: Node[] = await res.json();
---

<Section id="projects">
  <h2 class="my-5 text-center text-3xl">Projects</h2>
  <div class="space-y-6">
    {
      data.map(({ name, url, description }) => (
        <Card href={url} title={name} body={description} />
      ))
    }
  </div>
</Section>

<style>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
</style>
