---
import Section from '@components/utils/Section.astro';
import Card from '@components/Card.astro';
import type { Node } from '@utils/types';

const res = await fetch('/api/pinnedRepos');
const data: Node[] = await res.json();
---

<Section id="projects" class="">
  <h2 class="my-5 text-center text-2xl">Projects</h2>
  <div class="space-y-6">
    <h1>Hello, World!</h1>
    {
      data.map(({ name, url, description }) => (
        <Card href={url} title={name} body={description} />
      ))
    }
  </div>
</Section>

<style>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
</style>
