---
import Section from '@components/utils/Section.astro';

interface skill {
  text: string;
}

const skills: skill[] = [
  { text: 'HTML' },
  { text: 'CSS' },
  { text: 'Sass' },
  { text: 'CSS-in-JS \n (Styled Components, Emotion)' },
  { text: 'JavaScript' },
  { text: 'TypeScript' },
  { text: 'React' },
  { text: 'Node' },
  { text: 'MongoDB' },
  { text: 'Git' },
  { text: 'Material UI' },
  { text: 'Bootstrap' },
];
---

<Section id="skills">
  <h2 class="text-3xl my-5 text-center">Skills</h2>
  <div class="text-center">
    {skills.map(({ text }) => <div class="my-4">{text}</div>)}
  </div>
</Section>
