---
import { socialLinks } from '@utils/index';
---

<div class="flex items-center justify-start gap-x-6">
  {
    socialLinks.map(({ iconName, url, name }) => (
      <a
        class={`no-underline rounded ${name === 'LinkedIn' && 'bg-white'}`}
        href={url}
        rel="noopener"
        target="_blank">
        <img src={`/icons/${iconName}.svg`} alt="GitHub" height={20} width={20} />
      </a>
    ))
  }
</div>
