---
export interface Props {
  author: string;
  comment: string;
  designation: string;
  company: string;
  country: string;
}

const { author, comment, company, designation, country } = Astro.props;
---

<div
  class="testimonial-card relative flex flex-col overflow-hidden rounded-r-2xl border-l-[6px] border-primary p-5 backdrop-blur-md transition-transform before:absolute before:left-12 before:top-[60%] before:flex before:h-[200px] before:items-center before:justify-center before:font-serif before:text-[22rem] before:text-gray-300 before:opacity-10 before:transition-transform before:content-[open-quote]">
  <blockquote
    class="flex-1 text-slate-200 before:text-5xl before:text-gray-300 before:content-[open-quote] after:absolute after:translate-x-2 after:translate-y-3 after:text-5xl after:text-gray-300 after:content-[close-quote]">
    {comment}
  </blockquote>
  <div class="mt-2 text-right">
    <cite
      class="bg-gradient-to-r from-purple-400 to-pink-600 bg-clip-text font-semibold text-transparent">
      {author}
    </cite>
    <div
      class="bg-gradient-to-r from-indigo-400 to-yellow-600 bg-clip-text font-semibold text-transparent">
      {designation}{designation && ', '}{company}
    </div>
  </div>
</div>

<style>
  .testimonial-card {
    box-shadow:
      -20px 20px 60px #2f2f2f,
      20px -20px 60px #000 inset;
  }
</style>
