---
import Section from '@components/utils/Section.astro';
import Card from './Card.astro';

const testimonials = [
  {
    author: 'Henry Mao',
    comment:
      "Abdul worked at our startup Altum for the past year and has demonstrated himself as an engineer with an excellent work ethic. He is able to take on changing product requirements and burns the midnight oil in times of pressure. He's definitely someone who has the potential to achieve big things!",
    company: 'Jenni AI',
    designation: 'CTO',
    country: 'USA',
  },
  {
    author: 'Khadiga Mesbah',
    comment:
      'Great work with Abdulsamad. He always kept me up to date with the progress, and handled any feedbacks I had well and delivered the requirements on time.',
    company: 'Klenka IT Solutions',
    designation: '',
    country: 'Egypt',
  },
  // {
  //   author: 'Vinod Kumar Dhara',
  //   comment:
  //     'Samad developed my website for one of my project with great quality and dedication. I should appreaciate him for his awesome understanding skill. I would like to hire him again in future',
  //   company: '4inAll',
  //   country: 'India',
  // 	 designation: 'CEO'
  // },
];
---

<Section>
  <h2 class="mb-8 text-center text-3xl">Testimonials</h2>
  <div class="grid gap-5 lg:grid-cols-2 my-8">
    {testimonials.map((testimonial) => <Card {...testimonial} />)}
  </div>
</Section>
