---
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'button'> {
  variant?: 'filled' | 'outline';
}

const { class: className, variant = 'filled', ...buttonProps } = Astro.props;
---

<button
  class={`px-3 py-1.5 shadow rounded-3xl ${
    variant === 'filled'
      ? 'bg-gradient-to-r from-primary via-purple-500 to-pink-500 text-white'
      : 'bg-transparent border-primary border border-solid text-primary'
  } ${className}`}
  {...buttonProps}>
  <slot />
</button>
